* {
    margin: 0;
    padding: 0;
}

.nav {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0 0 1200px;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: black;
    font-size: 1.3rem;
    border-radius: 20px;
}

.nav ul li a:hover {
    color: lightseagreen
}

.nav ul li a:active {
    color: blue;
}


.home>img {
    display: block;
    margin: auto;
    height: 350px;
    border-radius: 9999px;
}

.h1 {
    margin: 30px 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.h1 span {
    color: lightseagreen
}

.social img {
    display: block;
    margin: auto;
    height: 40px;
}

.social img:hover {
    border-radius: 50px;
    border: 2px solid lightseagreen;
    padding: 5px;
}

.btn-1 {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn {
    padding: 10px;
    background-color: lightseagreen;
    border-radius: 20px;
    font-size: 1.4rem;
}

.btn:hover {
    background-color: lightseagreen;
    opacity: 0.7;

}
